{
  "swagger": "2.0",
  "info": {
    "description": "Todas as APIs da Alpha Systemas foram desenvolvidas baseadas na tecnologia REST, seguindo os atuais padrões técnicos de mercado. Tudo isso para que a experiência na hora da integração seja a mais fácil possível. Todas as URLs são amigáveis e orientadas a recursos e utilizam os padrões do protocolo HTTP como autenticação, verbos e códigos de retorno. Isso permite que APIs possam ser utilizadas por clientes HTTP já existentes. Todas as respostas são retornadas no formato JSON. Como pode ser visto abaixo, as APIs foram cuidadosamente trabalhadas para que os termos de negócios contidos sejam facilmente entendidos por desenvolvedores que não tenham conhecimento prévio do sistema. Elas foram meticulosamente estudadas para que um nome de campo em um endpoint tenha rigorosamente o mesmo significado em outros recursos.",
    "version": "1.0.0",
    "title": "Alpha API",
    "termsOfService": "http://swagger.io/terms/"
  },
  "host": "cliente.alphasystemas.com.br",
  "basePath": "/api",
  "tags": [
    {
      "name": "produto",
      "description": "Tudo sobre produtos."
    },
    {
      "name": "categoria",
      "description": "Tudo sobre categorias."
    },
    {
      "name": "coleção",
      "description": "Tudo sobre coleções."
    },
    {
      "name": "grupo",
      "description": "Tudo sobre grupos."
    },
    {
      "name": "estoque",
      "description": "Tudo sobre estoque."
    },
    {
      "name": "linha",
      "description": "Tudo sobre linhas."
    },
    {
      "name": "email",
      "description": "Tudo sobre email."
    },
    {
      "name": "usuario",
      "description": "Tudo sobre usuario."
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/product/product": {
      "get": {
        "tags": [
          "produto"
        ],
        "summary": "Listar todos os produtos.",
        "description": "",
        "operationId": "getProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "id",
            "description": "Referência do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "details",
            "description": "Descrição detalhada do produto."
          },
          {
            "in": "query",
            "type": "number",
            "name": "weight",
            "description": "Peso do produto."
          },
          {
            "in": "query",
            "type": "number",
            "name": "price",
            "description": "Preço do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "unit",
            "description": "Unidade de medida do produto."
          },
          {
            "in": "query",
            "type": "boolean",
            "name": "disabled",
            "description": "Mostra se o produtos está inativo ou não."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "gender",
            "description": "Gênero do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "quantity",
            "description": "Quantidade em estoque."
          },
          {
            "in": "query",
            "type": "string",
            "name": "createdAt",
            "description": "Data de cadatro do produto."
          },
          {
            "in": "query",
            "type": "boolean",
            "name": "isWebStore",
            "description": "Indica se o produto foi enviado ou não, para a loja virtual."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "categoryId",
            "description": "Id da categoria do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "category",
            "description": "Nome da categoria do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "groupId",
            "description": "Id do grupo do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "group",
            "description": "Nome do grupo do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "collectionId",
            "description": "Id da coleção do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "collection",
            "description": "Nome da coleção do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "lineId",
            "description": "Id da linha do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "line",
            "description": "Nome da linha do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "sku",
            "description": "SKU do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "skuQuantity",
            "description": "Estoque de SKU do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "colorId",
            "description": "Id da cor do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "color",
            "description": "Nome da cor do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "sizeId",
            "description": "Id do tamanho do produto."
          },
          {
            "in": "query",
            "type": "string",
            "name": "size",
            "description": "Tamanho do produto."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "storeId",
            "description": "Id da loja."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/ProductArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:pets",
              "read:pets"
            ]
          }
        ]
      }
    },
    "/product/product/{id}": {
      "get": {
        "tags": [
          "produto"
        ],
        "summary": "Encrontrar produto pelo ID",
        "description": "Retorna um único produto",
        "operationId": "getProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do produto a ser buscado",
            "required": true,
            "type": "integer",
            "format": "int"
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/product/category": {
      "get": {
        "tags": [
          "categoria"
        ],
        "summary": "Listar todos as categorias.",
        "description": "",
        "operationId": "getCategorys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "integer",
            "format": "int",
            "name": "id",
            "description": "Id da categoria."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da categoria."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/CategoryArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/category/{id}": {
      "get": {
        "tags": [
          "categoria"
        ],
        "summary": "Encrontrar categoria pelo ID",
        "description": "Retorna uma única categoria",
        "operationId": "getCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do categoria a ser buscado",
            "required": true,
            "type": "integer",
            "format": "int"
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da categoria."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/collection": {
      "get": {
        "tags": [
          "coleção"
        ],
        "summary": "Listar todos as coleções.",
        "description": "",
        "operationId": "getCollections",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "integer",
            "format": "int",
            "name": "id",
            "description": "Id da coleção."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da coleção."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/CollectionArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/collection/{id}": {
      "get": {
        "tags": [
          "coleção"
        ],
        "summary": "Encrontrar coleção pelo ID",
        "description": "Retorna uma única coleção",
        "operationId": "getCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da coleção a ser buscada",
            "required": true,
            "type": "integer",
            "format": "int"
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da coleção."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/Collections"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/group": {
      "get": {
        "tags": [
          "grupo"
        ],
        "summary": "Listar todos os grupos.",
        "description": "",
        "operationId": "getGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "integer",
            "format": "int",
            "name": "id",
            "description": "Id do grupo."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome do grupo."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/GroupArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/group/{id}": {
      "get": {
        "tags": [
          "grupo"
        ],
        "summary": "Encrontrar grupo pelo ID",
        "description": "Retorna um único grupo",
        "operationId": "getGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do grupo a ser buscada",
            "required": true,
            "type": "integer",
            "format": "int"
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome do grupo."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/Groups"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/inventory": {
      "get": {
        "tags": [
          "estoque"
        ],
        "summary": "Listar todo o estoque.",
        "description": "",
        "operationId": "getInventorys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "sku",
            "description": "SKU."
          },
          {
            "in": "query",
            "type": "string",
            "name": "quantity",
            "description": "Quantidade em estoque."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/InventoryArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/inventory/out": {
      "put": {
        "tags": [
          "estoque"
        ],
        "summary": "Atualiza o estoque do produto.",
        "description": "",
        "operationId": "getInventoryOut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do Inventory/Out.",
            "schema": {
              "$ref": "#/definitions/bodyInventoryOut"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseInventoryOut"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/inventory/out/grid": {
      "put": {
        "tags": [
          "estoque"
        ],
        "summary": "Atualiza o estoque do produto.",
        "description": "",
        "operationId": "getInventoryOutGrid",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do Inventory/Out/Grid.",
            "schema": {
              "$ref": "#/definitions/bodyInventoryOutGrid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseInventoryOutGrid"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/dpa": {
      "post": {
        "tags": [
          "estoque"
        ],
        "summary": "Registra uma saída de produto do estoque do DPA.",
        "description": "",
        "operationId": "postDpa",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do dpa.",
            "schema": {
              "$ref": "#/definitions/bodyDpa"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseDpa"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/line": {
      "get": {
        "tags": [
          "linha"
        ],
        "summary": "Listar todos as linhas.",
        "description": "",
        "operationId": "getLines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "integer",
            "format": "int",
            "name": "id",
            "description": "Id da linha."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da linha."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/LineArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/product/line/{id}": {
      "get": {
        "tags": [
          "linha"
        ],
        "summary": "Encrontrar linha pelo ID",
        "description": "Retorna uma única linha",
        "operationId": "getLine",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da linha a ser buscada",
            "required": true,
            "type": "integer",
            "format": "int"
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome da linha."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/Lines"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/email/email": {
      "post": {
        "tags": [
          "email"
        ],
        "summary": "Enviar e-mail.",
        "description": "",
        "operationId": "postEmail",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do Email.",
            "schema": {
              "$ref": "#/definitions/bodyEmail"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseEmail"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      }
    },
    "/user/client": {
      "get": {
        "tags": [
          "usuario"
        ],
        "summary": "Listar todos os clientes.",
        "description": "",
        "operationId": "getClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "id",
            "description": "Id do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome Fantasia do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "corporateName",
            "description": "Razão Social do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "CNPJCPF",
            "description": "CNPJ ou CPF do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "address",
            "description": "Endereço do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "postalCode",
            "description": "CEP do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "district",
            "description": "Bairro do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "city",
            "description": "Cidade do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "UF",
            "description": "UF (Unidade Federativa) do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "country",
            "description": "País do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "registerDate",
            "description": "Data do cadastro do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "phone",
            "description": "Telefone cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "cellphone",
            "description": "Celular cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "whatsapp",
            "description": "WhatsApp do cliente."
          },
          {
            "in": "query",
            "type": "string",
            "name": "email",
            "description": "E-mail do cliente."
          },
          {
            "in": "query",
            "type": "boolean",
            "name": "blocked",
            "description": "Verifica se o cliente está bloqueado ou não."
          },
          {
            "in": "query",
            "type": "boolean",
            "name": "inactive",
            "description": "Verifica se o cliente está inativo ou não."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "clientType",
            "description": "Tipo de cliente."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/ClientArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      },
      "post": {
        "tags": [
          "usuario"
        ],
        "summary": "Cadatro de cliente.",
        "description": "",
        "operationId": "postClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do cadastro de cliente.",
            "schema": {
              "$ref": "#/definitions/bodyClient"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseClient"
            }
          }
        }
      }
    },
    "/user/employee": {
      "get": {
        "tags": [
          "usuario"
        ],
        "summary": "Listar todos os funcionários.",
        "description": "",
        "operationId": "getEmployee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "id",
            "description": "Id do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "name",
            "description": "Nome do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "CPF",
            "description": "CPF do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "RG",
            "description": "RG do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "address",
            "description": "Endereço do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "CEP",
            "description": "CEP do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "city",
            "description": "Cidade do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "UF",
            "description": "UF (Unidade Federativa) do funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "phone",
            "description": "Telefone funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "cellphone",
            "description": "Celular funcionário."
          },
          {
            "in": "query",
            "type": "string",
            "name": "registerDate",
            "description": "Data do cadastro do funcionário."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "role",
            "description": "Função do funcionário."
          },
          {
            "in": "query",
            "type": "integer",
            "name": "situation",
            "description": "Situação do funcionário."
          },
          {
            "in": "query",
            "type": "boolean",
            "name": "active",
            "description": "Verifica se o funcionário está ativo ou não."
          }
        ],
        "responses": {
          "200": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/EmployeeArray"
            }
          },
          "204": {
            "description": "Sem conteúdo"
          },
          "400": {
            "description": "Erro do Usuário",
            "schema": {
              "$ref": "#/definitions/Error400"
            }
          },
          "500": {
            "description": "Erro interno do Servidor",
            "schema": {
              "$ref": "#/definitions/Error500"
            }
          }
        }
      },
      "post": {
        "tags": [
          "usuario"
        ],
        "summary": "Cadatro de funcionários.",
        "description": "",
        "operationId": "postEmployee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Corpo do cadastro de funcionários.",
            "schema": {
              "$ref": "#/definitions/bodyEmployee"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ação concluída com sucesso",
            "schema": {
              "$ref": "#/definitions/responseEmployee"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "JEANS"
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "BLUSAS"
        }
      }
    },
    "Collection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 7
        },
        "name": {
          "type": "string",
          "example": "AMAR"
        }
      }
    },
    "Line": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "MARCA PRINCIPAL"
        }
      }
    },
    "Colors": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Color"
      }
    },
    "Color": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "AZUL"
        },
        "sizes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Size"
          }
        }
      }
    },
    "Size": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "P"
        },
        "quantity": {
          "type": "integer",
          "example": 6
        },
        "storeId": {
          "type": "integer",
          "example": 1
        },
        "sku": {
          "type": "string",
          "example": "0000001-0009-1"
        }
      }
    },
    "ProductArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Product"
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "0000001"
        },
        "name": {
          "type": "string",
          "example": "BLUSA GOLA POLO -  BORDADO"
        },
        "details": {
          "type": "string",
          "example": "BLUSA LEGAL"
        },
        "weight": {
          "type": "number",
          "example": 10
        },
        "price": {
          "type": "number",
          "example": 80
        },
        "unit": {
          "type": "string",
          "example": "UN"
        },
        "disabled": {
          "type": "boolean",
          "example": false
        },
        "gender": {
          "type": "integer",
          "example": 3
        },
        "quantity": {
          "type": "string",
          "example": 6
        },
        "createdAt": {
          "type": "string",
          "example": "2020-12-01T00:00:00.000Z"
        },
        "isWebStore": {
          "type": "boolean",
          "example": false
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "group": {
          "$ref": "#/definitions/Group"
        },
        "collection": {
          "$ref": "#/definitions/Collection"
        },
        "line": {
          "$ref": "#/definitions/Line"
        },
        "size": {
          "type": "string",
          "example": "P"
        },
        "colors": {
          "$ref": "#/definitions/Colors"
        }
      }
    },
    "CategoryArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Categorys"
      }
    },
    "Categorys": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "JEANS"
        }
      },
      "xml": {
        "name": "Product"
      }
    },
    "CollectionArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Collections"
      }
    },
    "Collections": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "ANO NOVO 2021"
        }
      },
      "xml": {
        "name": "Product"
      }
    },
    "GroupArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Groups"
      }
    },
    "Groups": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "BLUSAS"
        }
      },
      "xml": {
        "name": "Product"
      }
    },
    "InventoryArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Inventorys"
      }
    },
    "Inventorys": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "example": "2020029-0004-2"
        },
        "quantity": {
          "type": "string",
          "example": 1
        }
      },
      "xml": {
        "name": "Product"
      }
    },
    "bodyInventoryOut": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": 2020030
        },
        "quantity": {
          "type": "integer",
          "example": 3
        }
      }
    },
    "bodyInventoryOutGrid": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": 2020030
        },
        "colorId": {
          "type": "string",
          "example": 4
        },
        "size01": {
          "type": "integer",
          "example": 1
        },
        "size02": {
          "type": "integer",
          "example": 1
        },
        "size03": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responseInventoryOut": {
      "$ref": "#/definitions/bodyInventoryOut"
    },
    "responseInventoryOutGrid": {
      "$ref": "#/definitions/bodyInventoryOutGrid"
    },
    "bodyDpa": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "example": 2020030
        },
        "saleId": {
          "type": "string",
          "example": 200003
        },
        "quantity": {
          "type": "integer",
          "example": 3
        },
        "unitValue": {
          "type": "number",
          "example": 20
        }
      }
    },
    "responseDpa": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "example": 2020030
        },
        "saleId": {
          "type": "string",
          "example": 200003
        },
        "quantity": {
          "type": "integer",
          "example": 3
        },
        "unitValue": {
          "type": "number",
          "example": 20
        },
        "date": {
          "type": "string",
          "example": "2021-09-15 14:19:28"
        },
        "type": {
          "type": "string",
          "example": "S"
        },
        "history": {
          "type": "string",
          "example": "VENDA REALIZADA PELO SITE"
        }
      }
    },
    "LineArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Lines"
      }
    },
    "Lines": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "MARCA PRINCIPAL"
        }
      },
      "xml": {
        "name": "Product"
      }
    },
    "email": {
      "type": "object",
      "properties": {
        "accepted": {
          "type": "string",
          "example": [
            "cliente@email.com.br"
          ]
        },
        "rejected": {
          "example": []
        },
        "envelopeTime": {
          "type": "integer",
          "format": "int",
          "example": 3154
        },
        "messageTime": {
          "type": "integer",
          "format": "int",
          "example": 968
        },
        "messageSize": {
          "type": "integer",
          "format": "int",
          "example": 340
        },
        "response": {
          "type": "string",
          "example": "250 2.0.0 Ok queued as D6BAA41A4F9C"
        },
        "envolope": {
          "$ref": "#/definitions/envelope"
        },
        "messageId": {
          "type": "string",
          "example": "<0220f233-ce4b-6f53-93ed-ed7825ef4ac7@alphasystemas.com.br>"
        }
      }
    },
    "envelope": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "example": "alphaweb@alphasystemas.com.br"
        },
        "to": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "cliente@email.com.br"
          }
        }
      }
    },
    "responseEmail": {
      "$ref": "#/definitions/email"
    },
    "bodyEmail": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Fulano de Tal"
        },
        "email": {
          "type": "string",
          "example": "cliente@email.com.br"
        },
        "subject": {
          "type": "string",
          "example": "Assunto do Email"
        },
        "text": {
          "type": "string",
          "example": "Corpo do Email"
        }
      }
    },
    "ClientArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Clients"
      }
    },
    "Clients": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS"
        },
        "corporateName": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS"
        },
        "CNPJCPF": {
          "type": "string",
          "example": 11111111111
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "postalCode": {
          "type": "string",
          "example": 60000000
        },
        "district": {
          "type": "string",
          "example": ""
        },
        "city": {
          "type": "string",
          "example": "FORTALEZA"
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "country": {
          "type": "string",
          "example": "BRASIL"
        },
        "registerDate": {
          "type": "string",
          "example": "2013-01-01T00:00:00.000Z"
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string",
          "example": ""
        },
        "whatsapp": {
          "type": "string",
          "example": ""
        },
        "email": {
          "type": "string",
          "example": ""
        },
        "blocked": {
          "type": "boolean",
          "example": false
        },
        "inactive": {
          "type": "boolean",
          "example": false
        },
        "clientType": {
          "type": "integer",
          "example": 0
        }
      }
    },
    "bodyClient": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS 2"
        },
        "corporateName": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS 2"
        },
        "CNPJCPF": {
          "type": "string",
          "example": 111111111112
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "postalCode": {
          "type": "string",
          "example": 60000000
        },
        "district": {
          "type": "string",
          "example": ""
        },
        "cityId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "countryId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string",
          "example": ""
        },
        "whatsapp": {
          "type": "string",
          "example": ""
        },
        "email": {
          "type": "string",
          "example": ""
        },
        "blocked": {
          "type": "boolean",
          "example": false
        },
        "inactive": {
          "type": "boolean",
          "example": false
        }
      }
    },
    "responseClient": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS 2"
        },
        "corporateName": {
          "type": "string",
          "example": "CONSUMIDORES DIVERSOS 2"
        },
        "CNPJCPF": {
          "type": "string",
          "example": 111111111112
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "postalCode": {
          "type": "string",
          "example": 60000000
        },
        "district": {
          "type": "string",
          "example": ""
        },
        "cityId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "countryId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string",
          "example": ""
        },
        "whatsapp": {
          "type": "string",
          "example": ""
        },
        "email": {
          "type": "string",
          "example": ""
        },
        "blocked": {
          "type": "boolean",
          "example": false
        },
        "inactive": {
          "type": "boolean",
          "example": false
        },
        "id": {
          "type": "integer",
          "format": "int",
          "example": 348301142
        }
      }
    },
    "EmployeeArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Employees"
      }
    },
    "Employees": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int",
          "example": 110
        },
        "name": {
          "type": "string",
          "example": "FUNCIONÁRIOS DIVERSOS 2"
        },
        "CPF": {
          "type": "string",
          "example": 111111111112
        },
        "RG": {
          "type": "string",
          "example": null
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "CEP": {
          "type": "string",
          "example": 60000000
        },
        "city": {
          "type": "string",
          "example": "ARACOIABA"
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string",
          "example": ""
        },
        "registerDate": {
          "type": "string",
          "example": "2013-01-01T00:00:00.000Z"
        },
        "role": {
          "type": "integer",
          "example": 0
        },
        "situation": {
          "type": "integer",
          "example": 1
        },
        "active": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "bodyEmployee": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "FUNCIONÁRIOS DIVERSOS 2"
        },
        "CPF": {
          "type": "string",
          "example": 111111111112
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "postalCode": {
          "type": "string",
          "example": 60000000
        },
        "district": {
          "type": "string",
          "example": ""
        },
        "cityId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "example": true
        },
        "commissionInCash": {
          "type": "number",
          "example": 0
        },
        "commissionInInstallments": {
          "type": "number",
          "example": 0
        },
        "commission1": {
          "type": "number",
          "example": 0
        },
        "commission2": {
          "type": "number",
          "example": 0
        },
        "commission3": {
          "type": "number",
          "example": 0
        },
        "commission4": {
          "type": "number",
          "example": 0
        },
        "commission5": {
          "type": "number",
          "example": 0
        },
        "commission6": {
          "type": "number",
          "example": 0
        },
        "commission7": {
          "type": "number",
          "example": 0
        },
        "commission8": {
          "type": "number",
          "example": 0
        },
        "commission9": {
          "type": "number",
          "example": 0
        },
        "commission09": {
          "type": "number",
          "example": 0
        },
        "commission10": {
          "type": "number",
          "example": 0
        },
        "commission11": {
          "type": "number",
          "example": 0
        },
        "commission12": {
          "type": "number",
          "example": 0
        },
        "commission13": {
          "type": "number",
          "example": 0
        },
        "commission14": {
          "type": "number",
          "example": 0
        },
        "commission15": {
          "type": "number",
          "example": 0
        },
        "commissionCashier": {
          "type": "number",
          "example": 0
        },
        "commissionManager": {
          "type": "number",
          "example": 0
        },
        "commissionSupervisor": {
          "type": "number",
          "example": 0
        },
        "commissionGeneral": {
          "type": "number",
          "example": 0
        },
        "limit": {
          "type": "number",
          "example": 0
        },
        "roleId": {
          "type": "number",
          "example": 0
        },
        "maritalStatusId": {
          "type": "number",
          "example": 0
        },
        "dependentQuantity": {
          "type": "number",
          "example": 0
        },
        "sectorId": {
          "type": "number",
          "example": 0
        },
        "salary": {
          "type": "number",
          "example": 0
        },
        "salaryCTPS": {
          "type": "number",
          "example": 0
        },
        "PaymentType": {
          "type": "number",
          "example": 0
        },
        "days": {
          "type": "number",
          "example": 0
        },
        "hours": {
          "type": "number",
          "example": 220
        },
        "syndicate": {
          "type": "boolean",
          "example": false
        },
        "transportationVoucher": {
          "type": "boolean",
          "example": false
        },
        "storeId": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "hasControlledEfficiency": {
          "type": "boolean",
          "example": false
        },
        "productionGroupId": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "biweeklyAdvanceAmount": {
          "type": "number",
          "example": 0
        },
        "isVacationEmployee": {
          "type": "boolean",
          "example": false
        },
        "goldQuotaNumberOfParts": {
          "type": "integer",
          "format": "int",
          "example": 250
        },
        "goldQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "goldQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "silverQuotaNumberOfParts": {
          "type": "integer",
          "format": "int",
          "example": 500
        },
        "silverQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "silverQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "bronzeQuotaNumberOfParts": {
          "type": "number",
          "example": 1000
        },
        "bronzeQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "bronzeQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "voucherLimit": {
          "type": "number",
          "example": 0
        },
        "situation": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "hasTriennium": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "hasQuennium": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "award": {
          "type": "number",
          "example": 0
        },
        "productivity": {
          "type": "number",
          "example": 0
        },
        "punctuality": {
          "type": "number",
          "example": 0
        },
        "bank": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "agency": {
          "type": "string",
          "example": "0000"
        },
        "account": {
          "type": "string",
          "example": "0000"
        },
        "operation": {
          "type": "string",
          "example": "0000"
        },
        "launchProduction": {
          "type": "boolean",
          "example": false
        },
        "password": {
          "type": "string",
          "example": "SuperSenhaSeguraDaAlpha"
        },
        "playerIdPdvMobile": {
          "type": "string",
          "example": "StringDoPlayerIdPdvMobile"
        }
      }
    },
    "responseEmployee": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "FUNCIONÁRIOS DIVERSOS 2"
        },
        "CPF": {
          "type": "string",
          "example": 111111111112
        },
        "address": {
          "type": "string",
          "example": ""
        },
        "postalCode": {
          "type": "string",
          "example": 60000000
        },
        "district": {
          "type": "string",
          "example": ""
        },
        "cityId": {
          "type": "integer",
          "format": "int",
          "example": 674
        },
        "UF": {
          "type": "string",
          "example": "CE"
        },
        "phone": {
          "type": "string",
          "example": ""
        },
        "cellphone": {
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "example": true
        },
        "commissionInCash": {
          "type": "number",
          "example": 0
        },
        "commissionInInstallments": {
          "type": "number",
          "example": 0
        },
        "commission1": {
          "type": "number",
          "example": 0
        },
        "commission2": {
          "type": "number",
          "example": 0
        },
        "commission3": {
          "type": "number",
          "example": 0
        },
        "commission4": {
          "type": "number",
          "example": 0
        },
        "commission5": {
          "type": "number",
          "example": 0
        },
        "commission6": {
          "type": "number",
          "example": 0
        },
        "commission7": {
          "type": "number",
          "example": 0
        },
        "commission8": {
          "type": "number",
          "example": 0
        },
        "commission9": {
          "type": "number",
          "example": 0
        },
        "commission09": {
          "type": "number",
          "example": 0
        },
        "commission10": {
          "type": "number",
          "example": 0
        },
        "commission11": {
          "type": "number",
          "example": 0
        },
        "commission12": {
          "type": "number",
          "example": 0
        },
        "commission13": {
          "type": "number",
          "example": 0
        },
        "commission14": {
          "type": "number",
          "example": 0
        },
        "commission15": {
          "type": "number",
          "example": 0
        },
        "commissionCashier": {
          "type": "number",
          "example": 0
        },
        "commissionManager": {
          "type": "number",
          "example": 0
        },
        "commissionSupervisor": {
          "type": "number",
          "example": 0
        },
        "commissionGeneral": {
          "type": "number",
          "example": 0
        },
        "limit": {
          "type": "number",
          "example": 0
        },
        "roleId": {
          "type": "number",
          "example": 0
        },
        "maritalStatusId": {
          "type": "number",
          "example": 0
        },
        "dependentQuantity": {
          "type": "number",
          "example": 0
        },
        "sectorId": {
          "type": "number",
          "example": 0
        },
        "salary": {
          "type": "number",
          "example": 0
        },
        "salaryCTPS": {
          "type": "number",
          "example": 0
        },
        "PaymentType": {
          "type": "number",
          "example": 0
        },
        "days": {
          "type": "number",
          "example": 0
        },
        "hours": {
          "type": "number",
          "example": 220
        },
        "syndicate": {
          "type": "boolean",
          "example": false
        },
        "transportationVoucher": {
          "type": "boolean",
          "example": false
        },
        "storeId": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "hasControlledEfficiency": {
          "type": "boolean",
          "example": false
        },
        "productionGroupId": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "biweeklyAdvanceAmount": {
          "type": "number",
          "example": 0
        },
        "isVacationEmployee": {
          "type": "boolean",
          "example": false
        },
        "goldQuotaNumberOfParts": {
          "type": "integer",
          "format": "int",
          "example": 250
        },
        "goldQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "goldQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "silverQuotaNumberOfParts": {
          "type": "integer",
          "format": "int",
          "example": 500
        },
        "silverQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "silverQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "bronzeQuotaNumberOfParts": {
          "type": "number",
          "example": 1000
        },
        "bronzeQuotaCommission": {
          "type": "boolean",
          "example": false
        },
        "bronzeQuotaAmount": {
          "type": "number",
          "example": 0
        },
        "voucherLimit": {
          "type": "number",
          "example": 0
        },
        "situation": {
          "type": "integer",
          "format": "int",
          "example": 1
        },
        "hasTriennium": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "hasQuennium": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "award": {
          "type": "number",
          "example": 0
        },
        "productivity": {
          "type": "number",
          "example": 0
        },
        "punctuality": {
          "type": "number",
          "example": 0
        },
        "bank": {
          "type": "integer",
          "format": "int",
          "example": 0
        },
        "agency": {
          "type": "string",
          "example": "0000"
        },
        "account": {
          "type": "string",
          "example": "0000"
        },
        "operation": {
          "type": "string",
          "example": "0000"
        },
        "launchProduction": {
          "type": "boolean",
          "example": false
        },
        "password": {
          "type": "string",
          "example": "SuperSenhaSeguraDaAlpha"
        },
        "playerIdPdvMobile": {
          "type": "string",
          "example": "StringDoPlayerIdPdvMobile"
        },
        "id": {
          "type": "integer",
          "format": "int",
          "example": 110
        }
      }
    },
    "Error400": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": "Erro 400"
        }
      }
    },
    "Error500": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": "Erro 500"
        }
      }
    }
  }
}